body {
  margin: 0;
}

#app {
  // background-color: red;
  width: 100%;
  min-width: max-content;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
button + button {
  margin-left: 50px;
}

input {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-image:url('');
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  height: 20px;
  background-color: #3964a6;
  border-radius: 3px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 150px;
  // position: fixed;
  // top: 15vh;
  // left: 50%;
  // transform: translate(-50%, 0);
  border: 1px solid gray;
  border-radius: 20px;
  padding: 30px;
  min-height: 350px;
}
.header {
  margin-bottom: 50px;
}